button {
  width: 10%;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  color: black;
}

.success {
  background-color: rgb(146, 236, 146);
}

.secondary {
  background-color: rgba(70, 70, 197, 0.863);
}

.error {
  background-color: rgb(255, 0, 0);
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

button:disabled:hover {
  cursor: not-allowed;
}